.content{
    grid-area: c;
  }
  .content img{
    width: 1000px;
  }
  .content .ava{
    width: 100px;
  }

  .item {
    color: rgb(0, 0, 0);
  }
  .item img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
  }